.home {
  border: 1px solid rgb(26, 170, 115);
  margin: 20px;
  padding: 20px;

  .color-red {
    font-weight: bold;
    color: rgb(238, 110, 132);
  }

  .color-green {
    color: rgb(26, 170, 115);
  }

  .box {
    margin-bottom: 20px;
  }
}
