body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navigation {
  background-color: #000;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        padding: 30px;
        display: block;
        background-color: #000;
        color: #fff;
        text-decoration: none;

        &:hover {
          background-color: #222;
        }
      }
    }
  }
}
